:root {
  --clay: #ddbc8f;
  --light: #e6cd9b;
  --lightest: #f8f4e8;
  --emerald: #546a64;
  --brown: #562200;
}

@font-face {
  font-family: 'Antarctic';
  src: local('Antarctic'),
      url('../fonts/Antarctic.woff2') format('woff2'),
      url('../fonts/Antarctic.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Diplomascriptrus';
  src: local('Diplomascriptrus'),
      url('../fonts/Diplomascriptrus.woff2') format('woff2'),
      url('../fonts/Diplomascriptrus.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-ExtraLight'),
      url('../fonts/Montserrat-ExtraLight.woff2') format('woff2'),
      url('../fonts/Montserrat-ExtraLight.woff') format('woff');
  font-display: swap;
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Regular'),
      url('../fonts/Montserrat-Regular.woff2') format('woff2'),
      url('../fonts/Montserrat-Regular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  max-width: 100%;
  font-family: 'Montserrat', 'Roboto', sans-serif;
  background-color: var(--emerald);
}

.body__back {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9;
}

.body__back.be {
  display: block;
}

@media(max-width: 768px) {
::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}
}

@media(min-width: 769px) {
::-webkit-scrollbar {
  background-color: rgba(221, 188, 143, 0.08);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(221, 188, 143, 0.3);
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(221, 188, 143, 0.65);
}
::-webkit-scrollbar-thumb:active {
  background-color: rgba(221, 188, 143, 1);
}
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

@media(min-width: 768px) {
  body {
    max-width: 768px;
    margin: 0 auto;
  }
  section, footer {
    margin: 0 auto;
    width: 100%;
    max-width: 768px;
  }
}

.container {
  width: 100%;
  padding: 0 72px;
}

.section-title {
  position: relative;
  margin: 0;
  padding: 0;
  z-index: 9;
  font-family: 'Diplomascriptrus', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  color: var(--lightest);
  user-select: none;
}

.text-basic {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 15px;
}

@media(max-width: 1024px) {
  .container {
    padding: 0 36px;
  }
}

@media(max-width: 540px) {
  .container {
    padding: 0 15px;
  }
}

/* header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  max-height: 150px;
}

@media(min-width: 768px) {
  .header {
    left: auto;
    right: auto;
    margin: 0 auto;
    max-width: 768px;
  }
}

.header-container {
  position: relative;
  z-index: 10;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 150px;
  display: flex;
  flex-direction: row;
}

.header-background {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;
  max-height: 160px;
  margin: 0;
  padding: 0;
}

.header-content {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: right;
  flex-shrink: 1;
  flex-grow: 1;
  width: 100%;
  height: 80%;
  margin: 0;
  z-index: 11;
  padding: 10px;
}

.header-logo {
  position: relative;
  left: 0;
  z-index: 12;
  max-width: 100px;
  flex-shrink: 1;
  flex-grow: 0;
  object-fit: contain;
}

.main-title {
  position: relative;
  z-index: 12;
  margin: 0 auto;
  font-family: 'Antarctic', sans-serif;
  /* font-family: 'Diplomascriptrus', sans-serif; */
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  color: var(--light);
  user-select: none;
}

@media(max-width: 360px) {
  .main-title {
    font-size: 40px;
  }
}

@media(min-width: 540px) {
  .main-title {
    font-size: 55px;
  }
}

.burger-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 12;
}

.burger-nav * {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.navbar {
  position: relative;
  margin-left: auto;
  width: 100%;
  max-width: 33px;
  height: 100%;
  z-index: 14;
  flex-grow: 0;
  justify-self: end;
}

.navbar-container {
  width: 100%;
  height: 100%;
}

.navbar__wrap {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100%;
}

.hamb {
  display: flex;
  align-items: center;
}

.hamb__field {
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}

.hamb__field:active * {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bar {
  display: block;
  z-index: 14;
  width: 30px;
  height: 2px;
  margin: 7px auto;
  background-color: var(--light);
  transition: 0.2s;
  user-select: none;
}

.bar:nth-child(2) {
  height: 1px;
}

.popup {
  display: none;
}

.menu-list {
  display: none;
}

.popup.open {
  position: absolute;
  top: 0;
  right: -10px;
  padding: 24px 210px 24px 18px;
  width: 100%;
  min-height: 100%;
  z-index: 12;
  display: flex;
  flex-direction: column;
  border-radius: 15px 0 0 15px;
  box-shadow: -4px 5px 5px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  transition: 0.3s;
}

.menu-list {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.menu-item {
  width: 100%;
}

.menu-item-line {
  line-height: 0.1;
}

.menu-line {
  margin-top: 10px;
  margin-bottom: 2px;
  display: inline-block;
}

.menu-link {
  width: 100%;
  font-size: 20px;
  font-family: 'Montserrat', 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: var(--clay);
  transition: color 0.2s;
}

.menu-products__link {
  font-size: 16px;
}

.menu-products__list {
  padding: 0;
  padding-left: 16px;
}

.menu-link-to-call {
  display: block;
  padding-left: 10px;
  font-size: 14px;
  border-top: 1px solid var(--brown);
}

.menu-link-tel {
  margin-top: 5px;
  padding-top: 8px;
  font-size: 17px;
  white-space: nowrap;
  border-top: 1px solid var(--brown);
}

.menu-link:hover, .menu-products__link:hover {
  color: var(--light);
}

.hamb__field:hover .bar {
  background-color: var(--clay);
}

.hamb__field.active .bar:nth-child(2) {
  opacity: 0;
}

.hamb__field.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  background-color: var(--clay);
  width: 30px;
  height: 3px;
  user-select: none;
}

.hamb__field.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  background-color: var(--clay);
  width: 30px;
  height: 3px;
  user-select: none;
}

/* firts-screen */

.first-screen {
  margin: 0;
  padding: 0;
}

.first-screen__background-image {
  position: relative;
  top: 0;
  min-width: 100%;
  width: 100%;
  max-height: 1000px;
}

.first-screen__container {
  position: relative;
  z-index: 1;
  width: 100%;
}

.first-screen__texts {
  position: absolute;
  top: 20%;
  left: 10%;
  margin: 0 auto;
  padding: 0;
  z-index: 2;
  background-color: var(--);
}

@media(min-width: 540px) {
  .first-screen__texts {
    left: 15%;
  }
}

@media(min-width: 768px) {
  .first-screen__texts {
    left: 20%;
  }
}

@media(min-width: 1024px) {
  .first-screen__texts {
    top: 30%;
  }
}

.first-screen__text {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  color: var(--lightest);
  line-height: 120%;
  user-select: none;
}

@media(min-width: 450px) {
  .first-screen__text {
    font-size: 38px;
  }
}

@media(min-width: 670px) {
  .first-screen__text {
    font-size: 50px;
  }
}

/* about-us */

.about-us__container {
  margin-top: -25%;
  padding-bottom: 5px;
  position: relative;
  min-width: 100%;
  background-color: var(--clay);
}

.about-us__img {
  position: relative;
  z-index: 2;
  min-width: 100%;
  height: 100%;
  max-height: 450px;
}

.about-us__duck {
  position: absolute;
  right: 0;
  top: -40%;
  width: clamp(160px, 50%, 400px);
  z-index: 8;
}

@media(min-width: 540px) {
  .about-us__duck {
    top: -50%;
  }
}

@media(min-width: 630px) {
  .about-us__duck {
    top: -65%;
  }
}

.about-us__content {
  position: absolute;
  top: 27%;
  left: 20%;
  right: 15px;
  z-index: 3;
  padding: 0;
  margin: 0;
}

@media(max-width: 600px) {
  .about-us__content {
    top: 20%;
  }
}

.about-us__title {
  display: inline-block;
  z-index: 3;
  margin: 0;
  margin-bottom: 10px;
  padding: 5px 25px 0 20px;
  background-image: url(../img/underline.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  overflow: auto;
}

@media(max-width: 400px) {
  .about-us__content {
    top: 12%;
    left: 12%;
  }
  .about-us__title {
    margin-bottom: 0;
  }
}

.about-us__text {
  color: var(--lightest);
  padding: 0;
}

.products {
  background-color: var(--clay);
  scroll-margin-block-start: 120px;
}

@media(min-width: 481px) {
  .products {
    scroll-margin-block-start: 170px;
  }
}

.products-descr {
  padding: 15px;
  width: 100%;
}

.products__title {
  display: inline;
  margin: 0;
  padding: 5px 25px 0 15px;
  background-image: url(../img/underline.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  overflow: auto;
}

.products__item {
  position: relative;
  z-index: 3;
  background-color: var(--emerald);
  padding: 15px;
  margin-bottom: 30px;
}

.products__list {
  position: relative;
  z-index: 3;
}

.products__title {
  position: relative;
  z-index: 3;
  display: inline-block;
  padding: 0 25px 2px 15px;
  margin: 0;
  margin-bottom: 15px;
  background-image: url(../img/underline.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  overflow: visible;
  font-family: 'Diplomascriptrus', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  color: var(--lightest);
}

.products__title-tree {
  padding: 0 25px 12px 15px;
}

.products__title-duck {
  padding: 0 15px 12px 20px;
}

.slider__container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  margin-bottom: 15px;
  overflow: hidden;
}

.slider {
  display: flex;
  align-items: stretch;
  transition: 2s ease-in-out;
}

.products__img {
  width: 100%;
  height: 100%;
  max-height: 500px;
  object-fit: cover;
  border-radius: 15px;
}

.products__img-tree {
  min-width: 80%;
  margin: 0 auto;
}

@media(min-width: 500px) {
  .products__img-deer, .products__img-heron, .products__img-tree {
    width: 70%;
    margin: 0 auto;
  }
}

@media(min-width: 600px) {
  .products__img-deer, .products__img-heron {
    width: 60%;
    margin: 0 auto;
  }
  .products__img-tree {
    width: 40%;
    margin: 0 auto;
  }
  .products__img-swan {
    width: 70%;
    margin: 0 auto;
  }
}

@media(min-width: 700px) {
  .products__img-deer {
    width: 50%;
    margin: 0 auto;
  }
}

.prev-button, .next-button {
  position: absolute;
  top: 45%;
  margin: 0;
  padding: 5px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.prev-button {
  left: 5px;
  padding: 12px 12px 12px 0;
}

.next-button {
  right: 5px;
  padding: 12px 0 12px 12px;
}

.slider__button {
  height: 30px;
  width: 16px;
  opacity: 70%;
  transition: 0.2s;
}

.slider__button:hover {
  opacity: 90%;
}

.slider__button:active {
  opacity: 100%;
}

.products-descr__title {
  color: var(--lightest);
  user-select: none;
  cursor: pointer;
  transition: color 0.2s;
  font-weight: 200;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.products-descr__title:hover {
  color: var(--light);
}

.products-descr__text {
  margin: 3px 0 3px;
  padding: 0;
  color: var(--lightest);
  font-weight: 200;
}

.products-descr__name {
  font-weight: 400;
}

.products-descr__padding {
  padding-left: 20px;
}

/* contacts */

.contacts {
  padding-bottom: 30px;
  position: relative;
  z-index: 1;
  min-width: 100%;
  background-color: var(--light);
  padding-top: 30px;
  background-image: url(../img/contacts.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% 90%;
  scroll-margin-block-start: 70px;
}

@media(min-width: 481px) {
  .contacts {
    scroll-margin-block-start: 120px;
  }
}

.contacts__container {
  position: relative;
  padding-bottom: 30px;
}

.contacts__title {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 0 25px 6px 15px;
  display: inline-block;
  background-image: url(../img/underline.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  overflow: visible;
}

.contacts__text {
  margin-bottom: 20px;
  width: 70%;
  color: var(--lightest);
}

.contacts__address {
  display: flex;
  flex-direction: column;
  align-items: start;
}

@media(min-width: 540px) {
  .contacts__address {
    margin-left: 20px;
  }
}

.contacts__link {
  position: relative;
  padding: 5px;
  padding-left: 30px;
  font-style: normal;
  font-weight: 200;
  color: var(--lightest);
  transition: color 0.2s;
}

.contacts__link:hover {
  color: var(--light);
}

.contacts__link:active {
  color: var(--light);
}

.contacts__link::before {
  content: "";
  background-repeat: no-repeat;
  background-position: center left;
  background-size: contain;
  opacity: 0.4;
  position: absolute;
  z-index: 2;
  top: 3px;
  left: 0;
  width: 20px;
  height: 20px;
  transition: opacity 0.2s;
}

.contacts__link:hover::before {
  opacity: 0.8;
}

.contacts__link:active::before {
  opacity: 1;
}

.contacts__link_tel::before {
  background-image: url('../img/graphics/contacts-icon-1.png');
}

.contacts__link_telegram::before {
  background-image: url('../img/graphics/contacts-icon-2.png');
}

.contacts__link_mail::before {
  background-image: url('../img/graphics/contacts-icon-3.png');
}

.contacts__swan {
  position: absolute;
  z-index: 3;
  right: 0;
  bottom: -20px;
  max-width: 40%;
  max-height: 80%;
}

.conclusion__background-img {
  position: absolute;
  z-index: 4;
  bottom: -20px;
  width: 100%;
  max-height: 50px;
}

.conclusion {
position: relative;
  z-index: 0;
  min-width: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 20%;
}

.conclusion__container {
  padding-top: 30px;
  padding-bottom: 20px;
  position: relative;
  z-index: 1;
  bottom: 0;
  background-color: var(--lightest);
}

.conclusion__title {
  margin: 0;
  margin-bottom: 15px;
  margin-left: 40px;
  padding: 0 25px 10px 25px;
  display: inline-block;
  background-image: url(../img/underline.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  overflow: visible;
  color: var(--brown);
}

.conclusion__text {
  margin-bottom: 20px;
  width: 75%;
}

.conclusion__text_2 {
  margin-right: 0;
  margin-left: auto;
  width: 60%;
}

.footer {
  padding: 15px 0;
  position: relative;
  z-index: 2;
  background-color: var(--brown);
  background-image: url(../img/products.png);
  background-position: center top 25%;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__text {
  width: 60%;
  font-size: 12px;
  color: var(--lightest);
}

.footer__info {
  max-width: 300px;
}

.footer__right {
  display: flex;
  flex-direction: column;
  align-items: start;
  min-width: 120px;
}

.footer__logo {
  width: 50px;
  margin-bottom: 10px;
}

.footer__rights {
  text-align: left;
  width: 100%;
}

.footer__rights:not(:last-child) {
  margin-bottom: 4px;
}

.footer__link_sergio {
  font-weight: 400;
  color: var(--lightest);
}
